<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.publicobject.rounds"
    android:versionCode="20"
    android:versionName="2.0">
  <application
      android:label="@string/app_name"
      android:icon="@drawable/rounds">
    <activity
        android:name="HomeActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".SetUpActivity"
        android:label="Set Up"
        android:theme="@style/Theme.Sherlock"
        android:windowSoftInputMode="adjustResize|stateVisible"/>
    <activity
        android:name=".GameActivity"
        android:theme="@style/Theme.SherlockWithActionBarOverlay"
        android:configChanges="keyboardHidden|keyboard"/>
  </application>
  <uses-permission
      android:name="android.permission.WAKE_LOCK"/>
  <uses-sdk
      android:minSdkVersion="8"
      android:targetSdkVersion="15"/>
</manifest>
